<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ProSpectSpb</title>
</head>
<body>
<p>Приветствуем!</p>

<p>Спасибо, что были с нами вчера на спецпоказе спектакля-прогулки Проспект Поэтов.
Будем рады вашим отзывам в ответном письме.</p>

<p>Мы готовы анонсировать повтор спекпоказа – он состоится 14 сентября. Для вас мы
подготовили промокод ДРУГ на 30% – успейте воспользоваться им при ранней
регистрации для большей выгоды, пока не выросла цена. Или порекомендуйте другу.</p>
<p>Регистрация тут: <a href=https://prospekt-poetov.timepad.ru/event/2981930/>https://prospekt-poetov.timepad.ru/event/2981930/</a></p>

<p>До встречи на маршруте!</p>
</body>
</html>