<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ProSpectSpb</title>
</head>
<body>
<p>Приветствуем!</p>
<p>Вы успешно зарегистрированы на спекпоказ спектакля-прогулки «Проспект Поэтов». В этом письме собрали подробности.</p>
<p><b>Дата и время:</b> 4 августа в <b th:text="${time}">.</b></p>
<p><b> Где встречаемся:</b> сад Сен-Жермен во дворе дома 46 по Литейному проспекту.</p>
<p><b>Ориентир:</b> левая калитка, звонить 0 (Городской театр).</p>
<p>Вас встретит неизвестный в маске, а <b>организаторы будут в саду</b> – узнаете нас по черной одежде и улыбке.
</p>
<p>Как начать:</p>
<p>1. Откройте приложение Telegram на смартфоне и найдите в поиске бота @ProSpektSpbBot или пройдите по ссылке:
    <a href="https://t.me/ProSpektSpbBot">https://t.me/ProSpektSpbBot</a></p>
<p>2. Запустите бота командой /start — вам придет приветственное сообщение.</p>
<p>3. Сразу после него пришлите <b>ваш уникальный промокод</b> (он будет ниже в письме), иначе бот попросит повторную оплату.
</p>
<p>4. Следуйте инструкции бота, а если что-то непонятно или не работает, то уточните детали у организаторов на старте или запускайте команду /help в боте.</p>
<p><b>Если вы оплатили 2 и более билета, вам придёт соответсвующее количество письм с разными кодами!</b></p>

<p>Ваш уникальный промокод: <b th:text="${promocode}">.</b></p>
<p>Важно! [1] Если вы оплатили <b>несколько билетов</b>, то вам придет несколько писем в <b>РАЗНЫМИ</b>промокодами для старта. Один телефон – один промокод.
</p>
<p>Важно! [2] Не забудьте зарядить телефон, взять с собой наушники и снять ограничения на скачивание контента (если оно стоит).
</p>
<p>До встречи на маршруте!</p>
</body>
</html>