<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ProSpectSpb</title>
</head>
<body>
<p>Уважаемый(ая), <span th:text="${user}" !></span>!</p>
<p>Вы успешно зарегистрированы как участник спектакля-прогулки «Проспект Поэтов».</p>
<p>Мероприятия начнется завтра, 23 июля в 13:00. У вас есть возможность гибкого старта с 13:00 до 13:15.</p>
<p>  Место старта: выход из метро Площадь Восстания (круглое здание вестибюля).</p>
<p><b>Не забудьте взять наушники и зарядить телефон!</b></p>
<p>И убедитесь, что у вас на телефоне есть достаточно памяти, чтобы скачивать медиа файлы <b>их 500MB</b></p>
<p>Как начать:</p>
<p>1.  Убедитесь, что на вашем телефоне установлен Telegram, или выполните установку заранее.</p>
<p>2.  Найдите в поиске бот <a href="https://t.me/ProSpektSpbBot">https://t.me/ProSpektSpbBot</a> и запустите его.</p>
<p>3.  Введите свой уникальный промокод, дающий возможность бесплатно пройти маршрут, так как вы уже оплатили билет на Timepad.</p>
<p><b>Если вы оплатили 2 и более билета, вам придёт соответсвующее количество письм с разными кодами!</b></p>

<p>Ваш уникальный промокод:  <b th:text="${promocode}">.</b></p>
<p>Бот сообщит о принятии промокода, после чего можно нажимать "Начать прогулку".</p>
<p>На месте вас встретят наши волонтеры и помогут в случае сложностей.</p>
<p>До встречи на маршруте!</p>
</body>
</html>