<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ProSpectSpb</title>
</head>
<body>
<p>Уважаемый, <span th:text="${user}" !></span>!</p>
<p>Вы успешно зарегистрированы как участник спектакля-прогулки «Проспект Поэтов», который проводится совместно с
    проектом городских игр
    «Бегущий Город».</p>
<p>Дата проведения мероприятия: 31.07.2021</p>
<p>Время начала: <b th:text="${starttime}"></b></p>
<p>В назначенное время Вы сможете присоединиться к чату игры по адресу: <a href="https://t.me/ProSpektSpbBot">https://t.me/ProSpektSpbBot</a></p>
<p>Увидимся на маршруте!</p>
</body>
</html>